
body {
  background-image:url(https://img.freepik.com/free-photo/high-angle-person-checking-box-close-up_23-2148265630.jpg?size=626&ext=jpg);
  background-size: cover;
  font-family: san-serif; 
}

hr{
 height: 3px;
 background-color: purple;
}

h1 {
 color: white;
 text-align: center;
 
}

p {
 font-family: verdana;
 font-size: 20px;
}



footer{
 font-family: verdana;
 font-size: 10px;
}